img {
    max-width: 100%;
}

.card {
    
    width: 300px;

    ul {
        list-style-type: none;
        line-height: 4rem;
    }

}


.img-back {
    background-image: url('../img/luigiflex.png');
    height: 100px;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;

}

footer {
    height: 60px;
    margin-bottom: 0;
}


.card {
    position: relative;
}

.card .card-hover {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    height: 100%;
    margin: auto;
}

.card:hover .card-hover {
    display: block;
}